@page {
  margin: 0;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  /* Ajuste para seu conteúdo */
  #contentToPrint {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
}
